/*
.App {
  width: 700px;
  margin: 20px auto;
  text-align: center;
  background-color: black;
  !*border: 1px solid #ffffff;*!
  position: relative;
  display: flex;
  justify-content: center;
  inline-size: auto;

}
body {
  background: black;

}
*/
/*
.App {
    display: flex;
    justify-content: center;
    background: black;
    align-items: center;

}*/
